<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="bg-color">
      <p>App App</p>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col>
          <img src="assets/s24.webp" alt="samsung s24">
        </ion-col>
        <ion-col>
          samsung s24 ultra<br>
          ราคา 35,600 บาท
        </ion-col>
        <ion-col>
          <ion-button>
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-content>